# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = false
insert_final_newline = false

[Makefile]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4
indent_style = tab

[*.gv]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
indent_style = space

[*.md]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
indent_style = space

[*.{pu,puml,plantuml}]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
indent_style = space

[.eslintrc]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
indent_style = space

[.editorconfig]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[{.env,.env.sample}]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[{.gitignore,.eslintignore}]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

# EOF
